<!-- FLOATED BUTTON -->

    <!-- THIS IS MAIN WRAPPER THAT CONTAINING OF NAVIGATION BAR AND FIRST ROW CONTENT-->
    <div class="container-fluid main-wrapper" style="overflow: hidden;">

        <!-- [THIS IS THE FIRST ROW CONTENT] -->
        <div class="col-md-12 col-md-offset-3 first-row " id="home" style="padding: 70px 0 0 0;">

            <div class="col-lg-3 col-sm-5 smart-logo">
                <img src="img/smart-ballpen.png" class="img-responsive" height="300"  style="margin: 0 auto;" />
            </div>
            <div class="col-lg-9 col-sm-7 smart-introduction">
                <div class="col-lg-12">
                    <h2><b>THE SMART BALLPEN<br>YOU'LL HAVE TO BUY</b></h2>
                </div>
                <div class="col-lg-12" style="padding: 20px 0;">
                    <p style="font-size: 16px;">Built on writting edge technology<br>Be your writting habit be advance</p>
                </div>
                <div class="col-lg-12 btn-link" style="padding: 20px 0;">
                    <button class="btn btn-lg btn-default"><span>Buy now!</span></button>&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-lg btn-default"><span>Find out more</span></button>
                </div>
            </div>
        </div>
        <!-- [THIS IS THE END OF FIRST ROW] -->

    </div><!-- [END OF MAIN WRAPPER TAG OF FIRST ROW AND NAV] -->
    <!-- THIS IS THE SECOND ROW CONTENT -->
    <div class="container-fluid second-row-content features" id="features" style="box-shadow: 0 0 50px 12px rgba(0,0,255,0.3)">
        <div class="col-md-8 col-md-offset-2 second-content">
            <div class="row-fluid text-center amazing-features">
                <h1><b>Amazing Features</b></h1>
                <div class="seperator-line seperator-middle"></div>
                <h5 style="margin-top: 30px;">
                    Not all ball pen have this amazing feature we indicate this kind of pen.<br>
                    That should over come your daily needs.
                </h5>
            </div>

            <div class="row-fluid features-list" style="padding: 30px 0 30px 0;">

                <div class="col-lg-5 col-sm-12">
                    <div class="col-lg-12  figure-features animated">
                        <div class="col-md-4" id="second-content-icon">
                            <div class="frame"> 
                                <i class="fa fa-2x glyphicon glyphicon-user fa-blue adjust-top" ></i>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h6><b>Autorized Person</b></h6>
                            <p class="feature-caption">
                                The authorized person to formally and properly empowered to perform specified the task that he want in this ballpen by using his/her finger print
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12 figure-features animated">
                        <div class="col-md-4" id="second-content-icon">
                            <div class="frame"><i class="fa fa-2x fa-camera fa-blue adjust-top"></i></div>
                        </div>
                        <div class="col-md-8">
                            <h6><b>Camera</b></h6>
                            <p class="feature-caption">
                                The camera is "hidden" because it is either not visible to the subject being filmed, or is disguised as another object may be used for household surveillance and may also be used commercially or industrially as security cameras.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12 figure-features animated">
                        <div class="col-md-4" id="second-content-icon">
                            <div class="frame "><i class="fa fa-2x fa-bluetooth fa-blue adjust-top"></i></div>
                        </div>
                        <div class="col-md-8">
                            <h6><b>Bluetooth</b></h6>
                            <p class="feature-caption">
                                It is designed to keep working despite the motions caused by the person's activities. A ballpen+Bluetooth is designed to maximize your ballpen at its limit ,
                            </p>
                        </div>
                    </div>

                </div>
                <div class="add-cf "></div>
                <div class="col-lg-2 col-sm-12 smart-ballpen-w-anim img-iphone" style="margin-top: 60px;">
                    <img src="img/thumbs/top.png" class="img-responsive single-iphone top"  style="margin-left: 0;" />
                    <img src="img/thumbs/bottom.png" class="img-responsive single-iphone bottom" style="margin-left: 0;"  />
                </div>

                 <div class="col-lg-5 col-sm-12">
                    <div class="col-lg-12 figure-features animated">
                        <div class="col-md-3" id="second-content-icon">
                            <div class="frame"><i class="fa fa-2x glyphicon glyphicon-volume-up fa-blue adjust-top"></i></div>
                        </div>
                        <div class="col-md-9">
                            <h6><b>Voice Recorder</b></h6>
                            <p class="feature-caption">
                                Handheld device that is used to record short reminders such devices use flash memory to hold up to 100 messages and more. Messages can be retrieved sequentially or by direct access by message number.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12 figure-features animated">
                        <div class="col-md-3" id="second-content-icon">
                            <div class="frame"><i class="fa fa-2x fa-usb fa-blue adjust-top"></i></div>
                        </div>
                        <div class="col-md-9">
                            <h6><b>Flash Drive</b></h6>
                            <p class="feature-caption">
                                May hold information, process information, or both. Devices that process information (data storage equipment) may either access a separate portable (removable) or a permanent component to store and retrieve data.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12 figure-features animated">
                        <div class="col-md-3" id="second-content-icon">
                            <div class="frame"><i class="glyphicon glyphicon-map-marker fa-2x fa-blue adjust-top"></i></div>
                        </div>
                        <div class="col-md-9">
                            <h6><b>GPS: Global Positioning System</b></h6>
                            <p class="feature-caption">
                                To determine and track its precise location, and hence that of its carrier, at intervals. We indicate this GPS to prevent losing are product.
                            </p>
                        </div>
                    </div>

                </div>
                
            </div>
        </div><!-- [END OF SECOND CONTENT] -->


    </div><!-- [END OF SECOND ROW CONTENT] -->
    <!-- [THIRD ROW CONTENT] -->
    <div class="container-fluid third-row-content" id="whyUs">
        <div class="col-md-8 col-md-offset-2 third-content" style="padding: 0;">
            <div class="col-md-6">
                <img src="img/smartpen/c.png" class="img-responsive"  style="margin: 0 auto;" />
            </div>
            <div class="col-md-6">
                <div class="row-fluid why-its-best">
                    <h1><b>To Achieve Our Goals</b></h1>
                    <div class="col-md-4"></div>
                    <div class="clearfix"></div>
                    <br>

                    <div class="features-content">
                        <p class="animated"><i class="fa fa-check fa-2x"></i>&nbsp;Embrace change.</p>
                        <p class="animated"><i class="fa fa-check fa-2x"></i>&nbsp;Reward innovation.</p>
                        <p class="animated"><i class="fa fa-check fa-2x"></i>&nbsp;Be adventurous and take risks.</p>
                        <p class="animated"><i class="fa fa-check fa-2x"></i>&nbsp;Operate with integrity and transparency.</p>
                        <p class="animated"><i class="fa fa-check fa-2x"></i>&nbsp;The best way to grow your business</p>
                    </div>

                </div>
            </div>
            
           
        </div>
    </div><!-- [END OF THIRD ROW CONTENT] -->
    <!-- [FOURTH ROW CONTENT] -->
    <div class="container-fluid fourth-row-content" id="describe" style="overflow: hidden;background-image: url('img/smartpen/sample2.jpg');background-repeat: no-repeat;background-position: right bottom;">
        <div class="col-md-6 col-md-offset-2" style="padding: 100px 0">
            <h1><b>Our Smart Ballpen</b></h1>
            <div class="seperator-line"></div>

            <div class="fourth-content-text describe" style="z-index: 99;">
                <p>
                    Our smartpen has its amazing features that helps you in your everyday activities. It has a voice recorder that you can use in recording your prof's discussion, or can be use in business meetings. A camera that can capture images in high resolution. A flashdrive that can save your important files. A LED Bluetooth to know the time. A authorization to secure and make sure that only you can use this pen. And a GPS that can helps you locate your pen in case you lose it. And you can refill its ink for free.
                </p>
            </div>
        </div>
    </div><!-- [END OF FOURTH ROW CONTENT] -->
    <!-- [FIFTH ROW CONTENT ] -->
    <div class="container-fluid fifth-row-content services" id="services" style="padding-left: 0; padding-right: 0; margin: 0;">

        <div class="col-md-8 col-md-offset-2" style="padding: 60px 0;">

            <div class="col-md-4 " id="jumbotron1">
                <div class="jumbotron">
                    <div class="row-fluid offset-top">
                        <span class="frame fill-frame"><i class="fa fa-2x fa-cogs adjust-top text-white"></i></span>
                    </div>
                    <div class="row-fluid"><br>
                        <h6 class="text-center"><b>Regular Updates & Support</b></h6>
                    </div>
                    <p style="font-size: 12px;">
                        This includes fixing security vulnerabilities with such patche fix and improving the usability or performance and Support If ever you want a adjustment and if our product have a problem or bugs.
                    </p>
                    <p><a class="btn" href="#" role="button">Read more</a></p>
                </div>
            </div>
            <div class="col-md-4 " id="jumbotron2">
                <div class="jumbotron">
                    <div class="row-fluid offset-top">
                        <span class="frame fill-frame"><i class="fa fa-2x fa-eyedropper adjust-top text-white"></i></span>
                    </div>
                    <div class="row-fluid"><br>
                        <h6 class="text-center"><b>Refillable Ink</b></h6>
                    </div>
                    <p style="font-size: 12px;">
                        The purpose of a refill for consumers is that it offers a low-cost alternative to buying new smartballpen and it's a more cheaper and you can can select your the color you want. <br><br>
                    </p>
                    <p><a class="btn" href="#" role="button">Read more</a></p>
                </div>
            </div>

            <div class="col-md-4 " id="jumbotron3">
                <div class="jumbotron">
                    <div class="row-fluid offset-top">
                        <span class="frame fill-frame"><i class="fa fa-2x fa-check-circle adjust-top text-white"></i></span>
                    </div>
                    <div class="row-fluid"><br>
                        <h6 class="text-center"><b>Warranty</b></h6>
                    </div>
                    <p style="font-size: 12px;">
                        We guarantee only 4 months only and if the ballpenis broken by the user the warrnaty is not applicable and the warranty covers the repair or replacemet of the broken unit at our discretion.
                    </p>
                    <p><a class="btn" href="#" role="button">Read more</a></p>
                </div>
            </div>
            
           
        </div><!-- COL MD 8 -->

        <!-- REMOVE THE FLOATING AREA THAT ITS NOT NECESSARY -->
        <div class="clearfix"></div>

    </div><!-- [END OF FIFTH ROW CONTENT] -->
    <!-- [SIXTH ROW CONTENT] -->
    <div class="container-fluid sixth-row-content" id="products" ng-controller="smartPenCtrl" style="background-color: #E4EEF2">
        <div class="col-md-8 col-md-offset-2 sixth-content text-center">
            <h1><b>Our Product</b></h1>
            <div class="seperator-line seperator-middle"></div>
            <p style="margin-top: 30px;">Responsive & optimized for mobile devices.</p>

            <section class="pen-pics">
                <div class="row-fluid img-row" style="display: flex; justify-content: space-around;flex-wrap: wrap;"">
                    <figure class="col-lg-4 col-md-6" ng-repeat="item in penItem" style="width: auto;">
                        <a href="" data-target="#{{item.href}}" data-toggle="modal">
                        <img ng-src="{{item.imagePath}}" >                       
                        <figcaption>
                           Smartpen - <strong>{{item.href}}</strong>
                        </figcaption>
                        </a>
                    </figure>
                </div>
            </section>
            <button class="btn btn-lg btn-primary" style="outline: none;border: none;">View more <i class="glyphicon glyphicon-chevron-right"></i></button>
        </div>
    </div>   <!-- [END OF SIXTH CONTENT] -->

    <div class="container-fluid eight-row-content" id="contactUs">
        <div class="col-md-8 col-md-offset-2 eight-content">
            <div class="row-fluid">
                <h1 class="text-center">Call us today!</h1>
                <p class="text-center">+181 500 600 1</p>
                <div class="seperator-line seperator-middle"></div>
            </div>
            <div class="row-fluid">
                <form action="" method="" class="form-inline" />
                    <div class="row-fluid" id="form">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name" class="control-label">Name*</label><br>
                                <input class="form-control" type="text" placeholder="Enter your name" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="email">Email*</label><br>
                                <input class="form-control" type="email" placeholder="Enter your email" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="website">Website</label><br>
                                <input class="form-control" type="text" name="website" placeholder="Your website" id="website">
                            </div>
                        </div>
                    </div><div class="clearfix"></div>
                    <div class="row-fluid" id="comment-box">
                        <label for="InputMessage" class="control-label" text-center>Message*</label>
                        <textarea name="InputMessage" class="form-control" rows="8" style="width: 100%"></textarea>
                    </div>
                    <div class="col-md-12" id="btn-submit">
                        <button type="button" class="btn btn-primary submit" >SUBMIT</button>
                    </div>
                </form>
                <div class="clearfix"></div>
                <div class="col-md-offset-8 col-md-offset-2" style="	">
                    <ul class="nav nav-pills" id="social">
                        <li role="presentation"><a href="" data-toggle="tootltip" title="twitter"><i class="fa fa-2x fa-twitter"></i></a></li>
                        <li role="presentation"><a href="" data-toggle="tootltip" title="facebook"><i class="fa fa-2x fa-facebook"></i></a></li>
                        <li role="presentation"><a href="" data-toggle="tootltip" title="youtube"><i class="fa fa-2x fa-youtube"></i></a></li>
                        <li role="presentation"><a href="" data-toggle="tootltip" title="pinterest"><i class="fa fa-2x fa-pinterest"></i></a></li>
                        <li role="presentation"><a href="" data-toggle="tootltip" title="skype"><i class="fa fa-2x fa-skype"></i></a></li>
                        <li role="presentation"><a href="" data-toggle="tootltip" title="Linkdn"><i class="fa fa-2x fa-linkedin"></i></a></li>
                        <li role="presentation"><a href="" data-toggle="tootltip" title="google plus"><i class="fa fa-2x fa-google-plus"></i></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- [END OF EIGHT-ROW-CONTENT] -->


